# منع رفع مجلد المكتبات (لأنه كبير جداً ويمكن تحميله بـ npm install)
node_modules/

# منع رفع ملفات النظام والبيئة الحساسة
.env

# منع رفع ملفات السجلات (Logs)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# إذا كنت تريد استثناء ملف البيانات الخاص بك من الرفع (اختياري)
# users.json

# ملفات أنظمة التشغيل
.DS_Store
Thumbs.db